:root {
  /*
  * Colors
  */
  --brand: #2995c0;
  --grey-1: #474747;
  --grey-2: #919191;
  --grey-3: #dadada;
  --grey-4: #ededed;
  --color-type-body: var(--grey-1);
  --success: #2a7e2e;
  --atenttion: #2196f3;
  --wait: #fff8dd;
  --error: #d92525;

  /*
  * Fonts
  */
  --base-font-family: sans-serif;
  --headers-font-family: serif;
  --base-font-lineheight: 1.5em;
}

